<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="Application2"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ch.hslu.appe.fs1303.loader.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.hslu.appe.fs1303.gui.perspectives.APPEPerspective"
            id="ch.hslu.appe.fs1303.gui.perspectives.APPEPerspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="ch.hslu.appe.fs1303.gui.presenter.PersonPresenter"
            id="ch.hslu.appe.fs1303.gui.presenter.PersonPresenter"
            name="Person Editor"
            restorable="true">
      </view>
   </extension>
</plugin>
